.message {
  font-size: 1em;
  font-style: italic;
  font-weight: 400;
}

.message.to {
  background-color: #2095FE;
  color: #363636;
  margin-left: 100px;
  text-align: right;
}

.message.from {
  background-color: #E5E4E9;
  color: #363636;
  margin-right: 100px;

}

.chatlist {
  height: 400px;
  overflow-y: scroll;
}

.chatcontrol {
  float: left;
  width: 100%;

  .chatinput {
    width: 80%;
    float: left;
    border-radius: 0;
  }

  .sendbtn {
    width: 20%;
    float: left;
    border-radius: 0;
    text-transform: uppercase;
  }
}

.avatar {
  width: 50px;
  margin-right: 20px;
}

.message.to+.message.to,
.message.from+.message.from {
  margin-top: -10px;
}
